  <h1 class="py-3">#BalanceTonPotin</h1>
  <p class="py-3">Balance ton potin via le formulaire ci-dessous 👇</p>
  <form action='/' method='GET' class="form-group p-5 border rounded">
    Quel est ton nom ?  <input type='text' name='gossip_author' class="form-control" placeholder="Quel nom?" /><br/>
    Quel est ton potin ? <input type='text' name='gossip_content' class="form-control" placeholder="Veuillez saisir votre potin svp!" /><br/>
    <input type='submit' class="btn btn-primary w-100" s/>
  </form>
  <a href="/">Retourne à la page des potins</a>
