<div class="container py-3 text-center">
  
  <h1>Votre PAGE POTIN</h1>
  <br>

  <div class="card py-3">
    <h2 class="card-title">Voici la page du potin n°<%= the_id = params['id'] %></h2>
   
    <div class="card-body text-left">

      <div class="card-text">
        <p><strong>Son auteur : </strong><%= @gossip.user.first_name %></p>

        <p><strong>Le contenu du potin : </strong><%= @gossip.content %></p>
        <br>

      </div>

      <a href="<%=the_id%>/edit" class="btn btn-primary btn-sm">Edite le potin</a>

    </div>
  </div>

  <br>
  <a href="/">Retourne à la page des potins</a>

</div>
